/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

    scroll-padding-top:120px;

}

body{

    font-family:'Poppins',sans-serif;

    background:#ffffff;

    color:#111827;

    overflow-x:hidden;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

button{

    font-family:inherit;

}

img{

    max-width:100%;

    display:block;

}

#root{

    width:100%;

    min-height:100vh;

}